pymongo==2.7.2
gevent==1.0.2
bottle-mongodb==0.2.1
bottle-cork==0.6
git+https://github.com/defnull/bottle/
Beaker==1.6.4
WebTest==2.0.16
pycrypto==2.6.1
python-magic==0.4.6
nose==1.3.4
kumo==0.2
-e git+https://github.com/threatstream/hpfeeds/#egg=hpfeeds-dev
Sphinx==1.2.3
sphinxcontrib-httpdomain==1.3.0
